@model ElmonkezApp.Models.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
